#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
    display: flex;
}

section .weather {
    border: 1px solid #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
}

.weather span {
    font-weight: bold;
}
